In [1]:
import pandas as pd
df= pd.read_csv(r"C:\Users\danie\OneDrive\Documentos\Cursos\python_ds_linkedin\base_datos_2008.csv", nrows = 1e6)

In [4]:
#para cambiar el nombre a una columna
df["HoursDelay"]= round(df["ArrDelay"]/60)
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [5]:
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [6]:
#Para eliminar una columna
del(df["HoursDelay"])

In [8]:
#Para eliminar varias columnas
df = df.drop(["Month", "Diverted"], axis= 1)
#Debemos igualar df a la funci√≥n para borrar porque queremos que se guarde en df

In [9]:
#Para eliminar una fila
df.drop(0)

,Year,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,2008,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,810,5.0,10.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,3,4,628.0,620,804.0,750,WN,448,N428WN,...,515,3.0,17.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,515,3.0,7.0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,515,3.0,10.0,0,NaN,2.0,0.0,0.0,0.0,32.0
5,2008,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,688,4.0,10.0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,2008,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,533,6.0,45.0,0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,2008,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,874,5.0,23.0,0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,2008,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,545,24.0,12.0,0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,2008,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,533,13.0,13.0,0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,2008,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,874,8.0,11.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Eliminar un rango de filas
df.drop(range(0, 100))

,Year,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100,2008,3,4,826.0,825,930.0,925,WN,136,N493WN,...,223,2.0,16.0,0,NaN,NaN,NaN,NaN,NaN,NaN
101,2008,3,4,2118.0,2015,2224.0,2115,WN,219,N383SW,...,223,3.0,17.0,0,NaN,17.0,0.0,6.0,0.0,46.0
102,2008,3,4,1818.0,1740,1916.0,1840,WN,391,N608SW,...,223,2.0,10.0,0,NaN,20.0,0.0,0.0,0.0,16.0
103,2008,3,4,650.0,650,748.0,750,WN,670,N777QC,...,223,3.0,8.0,0,NaN,NaN,NaN,NaN,NaN,NaN
104,2008,3,4,2146.0,2055,2250.0,2155,WN,815,N626SW,...,223,3.0,13.0,0,NaN,4.0,0.0,4.0,0.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,2008,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,533,6.0,45.0,0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,2008,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,874,5.0,23.0,0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,2008,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,545,24.0,12.0,0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,2008,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,533,13.0,13.0,0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,2008,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,874,8.0,11.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#crear un nuevo dataframe con una selecci√≥n de datos de la tabla actual
#En este caso, ser√° un dataframe con los vuelos de Atlanta y otro con los vuelos de Houston
dfATL= df[df.Origin == "ATL"]
dfHOU= df[df.Origin =="HOU"]

In [14]:
#podemos combinar los dos df creados
newdf = dfATL.append(dfHOU)
newdf.Origin

103149     ATL
103572     ATL
104019     ATL
104124     ATL
104485     ATL
          ...
7003419    HOU
7004690    HOU
7005947    HOU
7007233    HOU
7008545    HOU
Name: Origin, Length: 470446, dtype: object

In [15]:
#GROUPBY
#Sintaxis: Dataframe.groupby(by = "columna")["Columna que quiero ver"] y despu√©s puedo agregar cualquier otro par√°metro como .max()
df.groupby(by ="DayOfWeek")["ArrDelay"].max()

DayOfWeek
1    1583.0
2    1951.0
3    1510.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [16]:
df.groupby(by ="DayOfWeek")["ArrDelay"].describe()

               count       mean        std    min   25%  50%   75%     max
DayOfWeek
1          1013410.0   8.210850  38.013811 -519.0 -10.0 -2.0  12.0  1583.0
2          1005992.0   7.481208  38.361073  -89.0 -11.0 -3.0  11.0  1951.0
3          1016995.0   6.522017  36.024679  -87.0 -10.0 -3.0  10.0  1510.0
4          1011970.0   8.411599  37.397411 -129.0 -10.0 -1.0  12.0  2453.0
5          1008872.0  10.953440  40.252320  -86.0  -9.0  0.0  15.0  1707.0
6           841663.0   5.789666  37.163120  -91.0 -11.0 -3.0   9.0  1525.0
7           956127.0   9.495886  41.759296  -92.0 -10.0 -2.0  12.0  2461.0

In [17]:
df.groupby(by ="DayOfWeek")["ArrDelay","DepDelay"].mean()

<ipython-input-17-d270aa35591e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by ="DayOfWeek")["ArrDelay","DepDelay"].mean()

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [18]:
df.groupby(by ="DayOfWeek")[("ArrDelay", "DepDelay")].max()

<ipython-input-18-d027bf920998>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by ="DayOfWeek")[("ArrDelay", "DepDelay")].max()

           ArrDelay  DepDelay
DayOfWeek
1            1583.0    1552.0
2            1951.0    1952.0
3            1510.0    1518.0
4            2453.0    2467.0
5            1707.0    1710.0
6            1525.0    1521.0
7            2461.0    2457.0

In [19]:
#Puedo realizar operaciones con estas dos columnas pero tengo que tener cuidado de que sean del mismo tipo de datos
df.groupby(by ="DayOfWeek")["ArrDelay","DepDelay"].max() - df.groupby(by ="DayOfWeek")["ArrDelay","DepDelay"].min()

<ipython-input-19-0a890b01ee22>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by ="DayOfWeek")["ArrDelay","DepDelay"].max() - df.groupby(by ="DayOfWeek")["ArrDelay","DepDelay"].min()

           ArrDelay  DepDelay
DayOfWeek
1            2102.0    2086.0
2            2040.0    2013.0
3            1597.0    1589.0
4            2582.0    2528.0
5            1793.0    1802.0
6            1616.0    1600.0
7            2553.0    2524.0

In [21]:
#Crear un DF donde el origen es ATL y HOU
dfATLHOU = df[df.Origin.isin(["ATL", "HOU"])]

In [22]:
#Agrupar por el d√≠a de la semana y el origen en segundo lugar. Mostrarme los ArrDelay promedio por cada uno
dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64

In [23]:
#Si cambo el orden de los par√°metros el resultado cambia
dfATLHOU.groupby(by = ["Origin","DayOfWeek"])["ArrDelay"].mean()

Origin  DayOfWeek
ATL     1             9.123436
        2             8.933587
        3             8.809146
        4            10.186501
        5            14.797440
        6             9.511662
        7            13.798627
HOU     1             6.356856
        2             9.348112
        3             9.073109
        4            12.994016
        5            11.036545
        6             4.283933
        7             7.045287
Name: ArrDelay, dtype: float64

In [2]:
#Tratar duplicados y perdidos
#Crearemos un df con valores duplicados
dfduplicate = df.append(df)
#Lo ordenamos
dfduplicate= dfduplicate.sample(frac=1)

In [4]:
#Borramos las filas duplicadas y lo guardamos en un nuevo dataframe
dfclean = dfduplicate.drop_duplicates()

In [6]:
#Verificar que se hayan borrado los datos duplicados
len(df) == len(dfclean)

False

In [8]:
print(len(df))
print(len(dfclean))

1000000
999996

In [10]:
#Buscar valores duplicados en una columna en espec√≠fico para borrarlos
dfclean.drop_duplicates(subset = "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
377339,2008,1,12,6,1859.0,1858,1940.0,1938,HA,247,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
794328,2008,2,19,2,2100.0,2114,2156.0,2211,OO,5984,...,4.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
985595,2008,2,26,2,NaN,1120,NaN,1210,MQ,4028,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
654529,2008,2,17,7,1449.0,1450,1554.0,1550,WN,3331,...,8.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
50734,2008,1,18,5,755.0,755,917.0,920,WN,1622,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
235232,2008,1,15,2,1131.0,1134,1229.0,1245,UA,575,...,7.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
170596,2008,1,1,2,1355.0,1400,1703.0,1708,OO,6614,...,10.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
814775,2008,2,7,4,NaN,830,NaN,946,UA,142,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
906843,2008,2,27,3,NaN,1230,NaN,1340,DL,1919,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
596932,2008,1,8,2,708.0,710,918.0,908,DL,819,...,10.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
377372,2008,1,14,1,1739.0,1745,1827.0,1828,HA,248,...,6.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
253016,2008,1,29,2,837.0,845,1127.0,1142,UA,1510,...,3.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
390089,2008,1,16,3,1236.0,1235,1337.0,1335,MQ,3501,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
480994,2008,1,25,5,1138.0,1145,1314.0,1329,AA,321,...,11.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
639723,2008,2,13,3,1027.0,1020,1114.0,1110,WN,12,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
858371,2008,2,9,6,1601.0,1610,2248.0,2305,US,618,...,9.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
454205,2008,1,2,3,830.0,815,1039.0,1014,OH,5115,...,5.0,46.0,0,NaN,0,15.0,0.0,10.0,0.0,0.0
399910,2008,1,28,1,921.0,925,1133.0,1145,MQ,3923,...,6.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
124686,2008,1,4,5,1432.0,1435,1604.0,1613,XE,3094,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
325782,2008,1,21,1,1102.0,1105,1407.0,1407,EV,4246,...,15.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
966247,2008,2,24,7,1513.0,1440,1715.0,1605,MQ,3166,...,3.0,37.0,0,NaN,0,0.0,0.0,46.0,0.0,24.0
215698,2008,1,30,3,1955.0,1955,2042.0,2046,OO,5585,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
703358,2008,2,11,1,909.0,910,1040.0,1020,XE,2893,...,5.0,35.0,0,NaN,0,0.0,0.0,20.0,0.0,0.0
150740,2008,1,31,4,650.0,650,905.0,845,YV,2631,...,6.0,36.0,0,NaN,0,0.0,0.0,20.0,0.0,0.0
308387,2008,1,20,7,1644.0,1645,2120.0,2016,DL,79,...,9.0,113.0,0,NaN,0,0.0,0.0,64.0,0.0,0.0
24528,2008,1,10,4,1047.0,1045,1347.0,1425,WN,3240,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
517200,2008,1,6,7,1831.0,1825,2017.0,1945,AA,1798,...,10.0,15.0,0,NaN,0,0.0,0.0,29.0,0.0,3.0
517261,2008,1,5,6,2209.0,1955,2341.0,2130,AA,1801,...,11.0,12.0,0,NaN,0,131.0,0.0,0.0,0.0,0.0
673793,2008,2,23,6,1051.0,1030,1339.0,1330,WN,161,...,5.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
940241,2008,2,3,7,1256.0,1256,1316.0,1302,FL,439,...,9.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
799073,2008,2,22,5,1452.0,1446,1600.0,1545,OO,5756,...,5.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,15.0

In [11]:
#Gestion de datos faltantes
df.dropna()
#No tenemos ninguna fila con datos faltantes

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]